/*theme*/
.outer {width: 100%;}
.inner {
  position: relative;
  max-width: 640px;
  padding: 20px 10px;
  margin: 0 auto;
}
/*header*/
#header_wrap {
  background: #212121;
  background: -moz-linear-gradient(top, #373737, #212121);
  background: -webkit-linear-gradient(top, #373737, #212121);
  background: -ms-linear-gradient(top, #373737, #212121);
  background: -o-linear-gradient(top, #373737, #212121);
  background: linear-gradient(top, #373737, #212121);
}
#header_wrap .inner {padding: 50px 10px 30px 10px;}
#project_title {
  margin: 0;
  color: #fff;
  font-size: 42px;
  font-weight: 700;
  text-shadow: #111 0 0 10px;
}
#forkme_banner {
  display: block;
  position: absolute;
  top:0;
  right: 10px;
  z-index: 10;
  padding: 10px 50px 10px 10px;
  color: #fff;
  background: url('../images/blacktocat.png') #0090ff no-repeat 95% 50%;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
/*main*/
.main_content_wrap {
  background: #f2f2f2;
  border-top: 1px solid #111;
}
.main_content {
  margin: 20px;
  height: 100%;
}
.styleP {
  margin-top: 0;
  margin-bottom: 30px;
}
/*footer*/
#footer_wrap {
  background: #212121;
  position: fixed !important;
  bottom:0;
  left:0;
  right:0;
  margin-bottom:0;
}
footer p {color: #f2f2f2;}
a {
  text-decoration: none;
  color: #007edf;
  text-shadow: none;
  -webkit-transition: color 0.5s ease;
  -webkit-transition: text-shadow 0.5s ease;
  -moz-transition: color 0.5s ease;
  -moz-transition: text-shadow 0.5s ease;
  -o-transition: color 0.5s ease;
  -o-transition: text-shadow 0.5s ease;
  -ms-transition: color 0.5s ease;
  -ms-transition: text-shadow 0.5s ease;
  transition: color 0.5s ease;
  transition: text-shadow 0.5s ease;
}
a:hover, a:focus {text-decoration: underline;}
footer a {
  color: #F2F2F2;
  text-decoration: underline;
}
/*******************************************************************************
Small Device Styles
*******************************************************************************/

@media screen and (max-width: 480px) {
  body {
    font-size:14px;
  }
  .inner {
    min-width: 320px;
    max-width: 480px;
  }
  #project_title {
  font-size: 32px;
  }
  h1 {
    font-size: 28px;
  }
}